<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Administrar Productos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body class="detalle-body">

<div class="detalle-contenedor">

    <div class="detalle-header">

        <h1>🍓 Administrar Productos</h1>

        <div style="display:flex; gap:10px; margin-top:15px;">

            <a href="{{ url_for('agregar_producto') }}" class="editar-btn">
                ➕ Agregar Producto
            </a>

            <a href="/admin" class="btn-regresar">
                ⬅ Volver al Panel
            </a>

        </div>

    </div>

    <div class="productos-admin">

        {% for producto in productos %}

        <div class="producto-admin-card">

            <img src="{{ url_for('static', filename='Imagenes/' + producto[4]) }}">

            <h2>{{ producto[1] }}</h2>

            <p>{{ producto[2] }}</p>

            <h3>${{ producto[3] }}</h3>

            {% if producto[5] == 'disponible' %}

                <span class="disponible">
                    🟢 Disponible
                </span>

            {% else %}

                <span class="agotado">
                    🔴 Agotado
                </span>

            {% endif %}

            <br><br>

           <div style="margin-top:15px; display:flex; gap:10px; justify-content:center; flex-wrap:wrap;">

    <a href="{{ url_for('editar_producto', id_producto=producto[0]) }}"
       class="editar-btn">
        ✏ Editar
    </a>

    {% if producto[5] == "disponible" %}

        <a href="{{ url_for('cambiar_estado_producto', id_producto=producto[0]) }}"
           class="btn-regresar"
           onclick="return confirm('¿Marcar este producto como AGOTADO?')">

            🔴 Agotar

        </a>

    {% else %}

        <a href="{{ url_for('cambiar_estado_producto', id_producto=producto[0]) }}"
           class="editar-btn"
           onclick="return confirm('¿Volver a poner este producto DISPONIBLE?')">

            🟢 Activar

        </a>

    {% endif %}

</div>

        </div>

        {% endfor %}

    </div>

</div>

</body>

</html>
