<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body class="detalle-body">

<div class="detalle-contenedor">

    <h1>✏ Editar Producto</h1>

    <form method="POST" enctype="multipart/form-data">

        <label for="nombre">Nombre</label><br>
        <input
            type="text"
            id="nombre"
            name="nombre"
            value="{{ producto[1] }}"
            required>

        <br><br>

        <label for="descripcion">Descripción</label><br>
        <textarea
            id="descripcion"
            name="descripcion"
            rows="4"
            required>{{ producto[2] }}</textarea>

        <br><br>

        <label for="precio">Precio</label><br>
        <input
            type="number"
            id="precio"
            name="precio"
            step="0.01"
            value="{{ producto[3] }}"
            required>

        <br><br>

        <label>Imagen actual</label><br>

        <img
            src="{{ url_for('static', filename='Imagenes/' + producto[4]) }}"
            width="180">

        <br><br>

        <label for="imagen">Cambiar imagen (opcional)</label><br>

        <input
            type="file"
            id="imagen"
            name="imagen"
            accept="image/*">

        <br><br><br>

        <button type="submit" class="btn-agregar">
            💾 Guardar cambios
        </button>

        <br><br>

        <a href="{{ url_for('admin_productos') }}" class="btn-regresar">
            ⬅ Volver
        </a>

    </form>

</div>

</body>
</html>
